*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: skyblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.game{
    width: 90vw;
    height: 80vh;
    border: 0.5vw solid black;
    background-color: skyblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.bird{
    position: absolute;
    left: 0vw;
}

.bird img{
    width: 5vw;
}

.pipe{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top,
.bottom{
    width: 6vw;
    background-color: limegreen;
    border: 0.4vw solid black;
}

.gap{
    height: 15vh;
}
